<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="suggest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>英卡科技</title>
    <link href="../css/old/carousel.css" rel="stylesheet">
    <link href="../css/old/base.css" rel="stylesheet" type="text/css" />
    <link href="../css/old/layout.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/fun_js/suggestCtrl.js"></script>
    <!--<script src="../js/fun_js/suggestForm.js"></script>-->
</head>
<body>
<div id="wrapper">
    <!--header-->
    <div id="header">
        <div class="logobox float_l"></div>
        <div class="navbox float_l">
            <!--nav-->
            <ul>
                <li><a href="/wsite/index/index.html" style="color:#85bb43; background-color:#FFF">关于</a></li>
                <li><a href="/wsite/index/product.html">产品</a></li>
                <li><a href="/wsite/index/discover.html">发现</a></li>
                <li><a href="http://service.incardata.com.cn/" target="_blank" s>登录</a></li>
            </ul>
            <!--nav end-->
        </div>
        <div class="clear"></div>
    </div>
    <!--header end-->
    <!--banner-->
    <!--<div class="banner" id="banner-index"><img src="../images/bannerimg1.png" width="1000" height="353" /></div>centreshow-service-bg-->
    <!--banner end-->
    <!--轮播start-->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../images/old/bannerimg1.png" >
            </div>
            <div class="item">
                <img src="../images/old/bannerimg2.png" >
            </div>
        </div>
    </div>
    <!--轮播end-->
    <!--centreshow-use-->
    <div class="centreshow" id="centreshow-use">
        <div class="title"><h1>最有用的汽车应用</h1><h1><span>Automotive Applications</span></h1></div>
        <div class="contentbox" >
            <ul class="float_l" >
                <li><img src="../images/old/img-01.png" width="178" height="178" /></li>
                <li><h2>车况实时关怀</h2></li>
            </ul>
            <ul class="float_l">
                <li><img src="../images/old/img-02.png" width="178" height="178" /></li>
                <li><h2>用车智能报告</h2></li>
            </ul>
            <ul class="float_l">
                <li><img src="../images/old/img-03.png" width="178" height="178" /></li>
                <li><h2>养车资讯建议</h2></li>
            </ul>
            <ul class="float_l">
                <li><img src="../images/old/img-04.png" width="178" height="178" /></li>
                <li><h2>行车记录分析</h2></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!--centreshow-use end-->
    <!--centreshow-service-->
    <div class="centreshow" id="centreshow-service">
        <div class="title"><h1>最有价值的客户增值服务</h1><h1><span>Value-added Customer Service</span></h1></div>
        <div class="contentbox">
            <ul class="float_l">
                <li><img src="../images/old/img-05.png" width="178" height="178" /></li>
                <li><h2>汽车移动跨界应用</h2></li>
            </ul>
            <ul class="float_l">
                <li><img src="../images/old/img-06.png" width="178" height="178" /></li>
                <li><h2>全价值链能力建设</h2></li>
            </ul>
            <ul class="float_l">
                <li><img src="../images/old/img-07.png" width="178" height="178" /></li>
                <li><h2>精准营销分析管理</h2></li>
            </ul>
            <ul class="float_l">
                <li><img src="../images/old/img-08.png" width="178" height="178" /></li>
                <li><h2>客户服务价值提升</h2></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!--centreshow-service end-->
    <!--appraise-->
    <div class="appraise">
        <div class="title"><h1>他们怎么说</h1><h1><span>What do They Say</span></h1></div>
        <div class="cententbox">
            <div class="leftbox float_l">
                <div class="photo float_r" style="margin-top: 30px;"><img src="../images/old/photo1.jpg" width="90" height="90" /></div>
                <div class="text float_r"><h3>秦先生</h3><h4>卡曼汽车总经理</h4><p>英卡车云对4S店的帮助不仅在于提供了一个盈利项目，更在于在“多赢”的商业模式下，拉近了车主与4S店的距离，为4S店与车主的关系增加了更多的想象空间。</p></div>
                <div class="clear"></div>
            </div>
            <div class="rightbox float_l">
                <div class="photo float_l" style="margin-top: 30px;"><img src="../images/old/photo6.jpg" width="90" height="90" /></div>
                <div class="text float_l"><h3>陈小姐</h3><h4>雷诺4S店销售总监</h4><p>英卡车云的好服务给我们带来了好口碑，让我们的店成为了全市同行业之中的明星之店。</p></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="cententbox">
            <div class="leftbox float_l">
                <div class="photo float_r" style="margin-top: 30px;"><img src="../images/old/photo2.jpg" width="90" height="90" /></div>
                <div class="text float_r"><h3>丁先生</h3><h4>汽车之家电商经理</h4><p>我们一直在探寻如何利用移动互联网向车主提供服务，英卡车云是我们目前看到的最落地的车主应用</p></div>
                <div class="clear"></div>
            </div>
            <div class="rightbox float_l">
                <div class="photo float_l" style="margin-top: 30px;"><img src="../images/old/photo3.jpg" width="90" height="90" /></div>
                <div class="text float_l"><h3>李主任</h3><h4>中国首钢集团办公室主任</h4><p>由于工作繁忙夫人开车带小孩出去常常担心，有了英卡车云，可以让我实时的了解车辆状况，让我可以放心的投入到工作之中。</p></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="cententbox">
            <div class="leftbox float_l">
                <div class="photo float_r" style="margin-top: 30px;"><img src="../images/old/photo4.png" width="90" height="90" /></div>
                <div class="text float_r"><h3>苏先生</h3><h4>资深车主</h4><p>很实用、有意义的服务，比如查看碳排放量，可以督促我少开车，更环保，为蓝天贡献自己的一份力量。</p></div>
                <div class="clear"></div>
            </div>
            <div class="rightbox float_l">
                <div class="photo float_l" style="margin-top: 30px;"><img src="../images/old/photo5.jpg" width="90" height="90" /></div>
                <div class="text float_l"><h3>孟先生</h3><h4>某台资企业专职司机</h4><p>作为一名专职司机，我需要时刻对车辆的信息关注，英卡车云提供的200多项数据可以帮助我更好的了解车辆状况，避免出现意外情况。</p></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--appraise end-->
    <!--security-->
    <div class="security">
        <div class="title"><h1>安全和隐私</h1><h1><span>Security and Privacy</span></h1></div>
        <div class="contentbox">
            <div class="content">
                <div class="text float_l"><p class="font-1">英卡车云按照国内外以及行业的信息安全标准和最佳实践要求，持续改进、不断完善信息安全管理和技术体系，为客户提供经第三方权威测评及认证机构审核过的服务。</p></div>
                <div class="text float_l"><p class="font-1">用户的信任是英卡车云得以生存的根本!</p><p class="font-1">英卡车云参照国际上互联网企业的通行标准，制定了用户隐私原则，成为我们相关工作的指导。</p></div>
            </div>
        </div>
    </div>
    <!--security end-->
    <!--contact-->
    <div class="contact">
        <div class="title"><h1>联系我们</h1><h1><span>Contact Us</span></h1></div>
        <div class="text">
            <p>地址：武汉市东湖高新技术开发区光谷软件园C6栋208室<br />联系电话：4001871500<br />邮件：incardata@incar.com.cn</p>
        </div>
        <div class="messagebox" ng-controller="suggestCtrl">
            <div class="message">
                <form id="signupForm" action="">
                    <table border="0" cellspacing="5" cellpadding="0">
                        <tr>
                            <td>姓名<span class="font-red">*</span>：
                                <input type="text" name="username" id="username" ng-model="username" class="w-90" />
                                <div class="verify font-orange" id="usernameDiv"></div>
                            </td>
                            <td>邮箱<span class="font-red">*</span>：
                                <input type="text" name="email" id="email" ng-model="email" class="w-90" />
                                <div class="verify font-orange" id="emailDiv"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>电话：&nbsp;
                                <input  type="text"  name="telephone" id="telephone" ng-model="telephone" class="w-90" />
                                <div class="verify font-orange" id="telephoneDiv"></div>
                            </td>
                            <td>主题：&nbsp;
                                <input type="text" name="theme" id="theme" ng-model="theme" class="w-90" />
                                <div class="verify font-orange" id="themeDiv"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="vertical-align: top">内容<span class="font-red" style="vertical-align: top">*</span>：
                                <textarea name="content" id="content" ng-model="content" cols="" rows=""></textarea>
                                <div class="verify font-orange" id="contentDiv"></div>
                            </td>
                        </tr>
                        <tr>
                            <td height="30" colspan="2" align="center" valign="middle"><input type="submit" value="提交" class="but-1" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <!--contact end-->
    <!--footer-->
    <div class="footer">
        <div class="name float_l">英卡科技<span>Welcome to inCardata</span></div>
        <div class="copyringht float_l">Copyright © 2014,&nbsp;<a href="/wsite/index/privacy.html"><font style="color:lightslategrey">隐私政策</font></a></div><br/>
        <div class="clear"></div>
    </div>

    <!--footer end-->
</div>
</body>
</html>
