<html ng-app="consult">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="索菱新零售">
    <meta name="description" content="">
    <title>索菱新零售</title>
    <link rel='icon' href='../images/pagelogo.ico ' type=‘image/x-ico’ />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/public.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/fun_js/consultCtrl.js"></script>
    <script class="resources library" src="js/area.js" type="text/javascript"></script>
</head>
<body ng-controller="consultCtrl">
    <!-------------- header start -------------->
<div class="header">
    <div class="x-inner clearfix">
        <div class="x-logo fl"><img src="../images/logo.png" alt=""></div>
        <ul class="x-nav fr hide">
            <li><a class="x-home" href="index.html"><i class="x-icons x-icons-home"></i></a></li>
            <li><a class="nav active" data-toggle="modal" data-target="#consultModal">加盟咨询</a></li>
            <li><a class="nav">加盟申请</a></li>
            <li><a class="nav">加盟商登录</a></li>
            <li><a class="nav" data-toggle="modal" data-target="#loginModal">管理员登录</a></li>
        </ul>
        <ul class="x-nav fr">
            <li><a class="x-home"><i class="x-icons x-icons-home"></i></a></li>
            <li><a class="nav">订单管理</a></li>
            <li><a class="nav active" href="consultList.html">加盟商管理</a></li>
            <li><a class="nav">销售统计</a></li>
            <li><a class="nav" href="franchiseeNewList.html" >资讯列表</a></li>
            <li><i>admin</i>|<a class="exit" href="index.html">退出</a></li>
        </ul>
    </div>
</div>
    <!-------------- header end ---------------->

    <!-------------- main start -------------->
    <div class="main">
        <div class="x-inner clearfix">
            <div class="x-listTitle">
                <span class="title">咨询列表</span>
            </div>
            <div class="line-dashed"></div>
            <div class="x-consultList-search clearfix">
                <div class="x-consultList-search-one">
                    <span class="tit">省：</span>
                    <select class="form-control wth" id="s_province" name="s_province" >
                    </select>
                </div>
                <div class="x-consultList-search-one">
                    <span class="tit">市：</span>
                    <select class="form-control wth" id="s_city" name="s_city">
                    </select>
                </div>
                <div class="x-consultList-search-one">
                    <span class="tit">区：</span>
                    <select class="form-control wth" id="s_county" name="s_county">
                    </select>
                </div>
                <div id="show"></div>
                <div class="x-consultList-search-one">
                    <span class="tit ">是否已处理：</span>
                    <select class="form-control" ng-model="status" ng-options="s.status as s.name for s in allStatus"></select>
                </div>
                <a class="searchbtn daochubtn" href="/wsite/exportExcel"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>导出</a>
                <a class="searchbtn" ng-click="findConsultList(1)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索</a>
            </div>
            <table class="x-consultList-table">
                <thead>
                    <tr>
                        <td>姓名</td>
                        <td>手机号</td>
                        <td>地址</td>
                        <td>咨询时间</td>
                        <td>是否处理</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cl in consultList">
                        <td ng-bind="cl.realname"></td>
                        <td ng-bind="cl.phone_num"></td>
                        <td ng-bind="cl.province+cl.city+cl.county"></td>
                        <td ng-bind="cl.create_time"></td>
                        <td ng-bind="(cl.status==0)?'未联系':'已联系'"></td>
                        <td>
                            <span class="glyphicon glyphicon-edit" ng-if="cl.status == 0" ng-click="open(cl.Id,$index);"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination fr">

                    <li>
                        <a href="#" aria-label="Previous" ng-click="findConsultList(currentPage - 1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="p in pageNum">
                        <a href="#" ng-click="findConsultList(p)" ng-bind="p"></a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next" ng-click="findConsultList(currentPage + 1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
                <ul class="pagination fr" style="padding-right: 30px;padding-top: 7px;">
                    <li>
                        共{{totalPage}}页，{{totalCount}}条，当前第{{currentPage}}页
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-------------- main end ---------------->


<!-------------- footer start -------------->
    <div class="footer">
        <p>Copyright @2016版权所有：深圳市索菱实业股份有限公司 <i style="color:#57bfb8;"><a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15009715号-2</a></i>  &emsp;&emsp;法律声明 &emsp;|&emsp;隐私条款&emsp;|&emsp;
            <a href="http://szcert.ebs.org.cn/e0b6b83b-603d-4a27-8775-77d095495eb0" target="_blank"><img src="http://szcert.ebs.org.cn/Images/govIcon.gif" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" width="75" height="105" border="0" style="border-width:0px;border:hidden; border:none;"></a>
        </p>
    </div>
<!-------------- footer end ---------------->

<!------------------------------------------------------- 处理咨询 start-------------------------------------------- -->
<div class="modal fade" id="dealModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog x-modalwth">
    <div class="modal-content x-modal x-modal-sm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="x-icons x-icons-exit"></i></button>
        <h4 class="modal-title x-modal-title">确认处理</h4>
      </div>
      <div class="modal-body">
            <div class="wth500px center">
                <p>是否确认已联系？确定不可恢复。</p>
            </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn x-okbtn" ng-click="handle();">确定</button>
       </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!------------------------------------------------------- 处理咨询 end-------------------------------------------- -->


</body>

</html>